table{
    border-collapse: collapse;
    border-top:  1px solid black;
    border-bottom:  1px solid black;
  }
  
  th, td{
    padding: 5px;
    width: 50%;
    margin: auto;
    min-width: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  }
  td{
    text-align: center;
  }
  .aluno{
    text-align: left;
  }
  tbody tr:nth-child(odd){
    background-color: rgb(240,248,255);
  }