table {
    width: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: rgb(240, 248, 255);
  }
  
  td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }
  
  th {
    background-color: rgb(168, 218, 213);
    border: 1px solid black;
    padding: 5px;
  }
  
  tr:hover {
    background-color: rgb(168, 218, 213);
  }